doctype html
html(lang=en)
  head
    title DOM Building Zone
    include ./stylesheets

  body
    div
      div#menu
        include ./sidebar

      div#main
        block content

    script(src='js/lib/zepto.js')
    script(src='js/lib/react.js')
    script(src='js/main.js')
