div.pure-menu.pure-menu-open
  a.pure-menu-heading(href='/') Cohort

  ul
    li
      a(href='party.html')
        i.fa.fa-beer &nbsp;
        span Party
    li
      a(href='combat.html')
        i.fa.fa-crosshairs &nbsp;
        span Combat
    li
      a(href='tables.html')
        i.fa.fa-table &nbsp;
        span Tables
    li
      a(href='notes.html')
        i.fa.fa-edit &nbsp;
        span Notes
    li
      a(href='#')
        i.fa.fa-music &nbsp;
        span Music
