// http://purecss.io/
link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.4.2/pure-min.css')
// http://fortawesome.github.io/Font-Awesome/
link(rel='stylesheet', href='css/lib/font-awesome.min.css')
link(rel='stylesheet', href='css/base.css')
