@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

/** Layout */

$sidebar-width: 170px;

body > div {
  padding-left: $sidebar-width;
}

#menu {
  position: fixed;
  width: $sidebar-width;
  top: 0; bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#main h1 {
  margin: 0;
}

#main header {
  padding: 1em 2em;
  margin: 0 auto;
  max-width: 768px;
  text-align: center;
}

/** Visuals */

#menu {
  background: #111;
  font-family: 'Lato', 'sans-serif';
}

#menu .pure-menu-open {
  background: transparent;
}

#menu .pure-menu {
  border: 0;
}

#menu .pure-menu li a {
  padding: 5px 10px;
  font-size: 2em;
  font-weight: 100;
  color: #aaa;
}

#menu .pure-menu-heading {
  margin: 0;
  padding: 5px 10px;
  font-size: 180%;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: #ddd;
}

#main {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
}

#main h1 {
  font-size: 350%;
  font-weight: 100;
}
